@use "base" with (
  $theme: "gruvbox",

  $dark-background: #1d2021, // bg0_h
  $dark-foreground: #fbf1c7, // fg0
  $dark-foreground-pale: #ebdbb2, // fg1

  $light-background: #f9f5d7, // bg0_h
  $light-foreground: #282828, // fg0
  $light-foreground-pale: #3c3836, // fg1

  $dark-primary: #d79921, // yellow
  $dark-red: #cc241d,
  $dark-blue: #458588,
  $dark-sky: #83a598,
  $dark-purple: #b16286,
  $dark-green: #689d6a, // aqua
  $dark-yellow: #d79921,
);
