@use "base" with (
  $theme: "onedark",

  $dark-background: #202124,
  $dark-foreground: #9197a5,
  $dark-foreground-pale: #5d6470,

  $light-background: #ffffff,
  $light-foreground: #3c4043,
  $light-foreground-pale: #9aa2b9,

  $dark-primary: #698bcf,
  $dark-primary-pale: #698bcf1c,
  $dark-red: #d35757,
  $dark-blue: #698bcf,
  $dark-sky: #4985a2,
  $dark-purple: #9971d9,
  $dark-green: #3ea06f,
  $dark-yellow: #c99054,
);
