@use 'colors' with (
  $theme: "onedark",

  $dark-background: #202124,
  $dark-foreground: #9197a5,
  $dark-foreground-pale: #5d6470,

  $light-background: #ffffff,
  $light-foreground: #3c4043,
  $light-foreground-pale: #a0a9bf,

  $dark-primary: #6d90df,
  $dark-red: #d35757,
  $dark-blue: #6d90d7,
  $dark-sky: #4985a2,
  $dark-purple: #9971d9,
  $dark-green: #38a56e,
  $dark-yellow: #cb943b,
);
