<link rel="preload" href="/fonts/signika.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/cascadia.woff2" as="font" crossorigin="anonymous">

<style>
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Regular'), local('Signika-Regular'), url(/fonts/signika.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cascadia Mono Regular'), local('CaskaydiaCove Nerd Font Regular'), url(/fonts/cascadia.woff2) format('woff2');
  font-display: swap;
}
</style>
