<header>
  <div id="header-wrapper">
    <nav>
      <a href="/">{{ config.extra.id }}</a>
      <span class="separator">{{ config.extra.nav_separator }}</span>
      <a href="/blog">blog</a>
    </nav>
    <div id="btns">
      {% set rss_icon = load_data(path="static/icon/rss.svg") %}

      {% if section.generate_feed or config.generate_feed -%}
      <a href="/{{ config.feed_filename }}" aria-label="rss feed">{{ rss_icon | safe }}</a>
      {% endif %}

      {% set moon_icon = load_data(path="static/icon/moon.svg") %}
      {% set sun_icon = load_data(path="static/icon/sun.svg") %}
      <button id="theme-toggle" aria-label="theme toggle" data-moon-icon="{{ moon_icon }}"
        data-sun-icon="{{ sun_icon }}">
        {{ moon_icon | safe }}
      </button>

      {% set paint_icon = load_data(path="static/icon/paint.svg") %}
      <button id="theme-switch" aria-label="theme switch">{{ paint_icon | safe }}</button>
    </div>
  </div>
</header>
